h1 {
	color: gold;
	font-family: sans-serif, monospace, courier;
}

#main-header {
	text-align: center;
}

#container {
	text-align: center;
	font-family: cursive, helvetica, sans-serif;
}

#list {
	color: #FF00FF;
	text-decoration: underline;
}

h2 {
	color: teal;
	font-family: fantasy;
	text-align: center;
}

#quote {
	color: pink;
	font-family: fantasy;
}

body {
	background: gray;
	background-image: url("img/humble.jpg");
} 

ul{
	list-style: square;
}

ol{ 
	list-style: upper-latin; 
}

dl {
	font-family: helvetica;
}

td, tr {
	text-align: center;
}

a: visited {
	color: black;
}

a:hover {
	color: blue;
}

a:link {
	color:green;
}

a:active {
	color:yellow;
}